<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loda.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.loda.entity.po.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="t_pwd" jdbcType="VARCHAR" property="tPwd" />
    <result column="t_birthday" jdbcType="TIMESTAMP" property="tBirthday" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, t_pwd, t_birthday
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.loda.entity.po.User">
    insert into t_user (id, username, t_pwd, 
      t_birthday)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{tPwd,jdbcType=VARCHAR}, 
      #{tBirthday,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.loda.entity.po.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="tPwd != null">
        t_pwd,
      </if>
      <if test="tBirthday != null">
        t_birthday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="tPwd != null">
        #{tPwd,jdbcType=VARCHAR},
      </if>
      <if test="tBirthday != null">
        #{tBirthday,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.loda.entity.po.User">
    update t_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="tPwd != null">
        t_pwd = #{tPwd,jdbcType=VARCHAR},
      </if>
      <if test="tBirthday != null">
        t_birthday = #{tBirthday,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.loda.entity.po.User">
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      t_pwd = #{tPwd,jdbcType=VARCHAR},
      t_birthday = #{tBirthday,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryUserByName" parameterType="java.lang.String" resultType="com.loda.entity.po.User">
    select
    <include refid="Base_Column_List" />
    from t_user
    where username = #{username}
  </select>
</mapper>