<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="userServlet" class="com.loda.controller.UserServlet">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="userService" class="com.loda.factory.StaticFactory" factory-method="createUserService"></bean>

    <!--
    实例化工厂
        1.定义实例化工厂bean
        2.引用工厂bean 指定工厂创建方法(方法为非静态)
    -->
    <bean id="normalFactory" class="com.loda.factory.NormalFactory"></bean>
    <bean id="userDao" factory-bean="normalFactory" factory-method="createUserDao"></bean>

</beans>